html,
body {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  height: 100%;
  background-color: hsl(0, 0%, 95%);
}

main {
  height: 100%;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}
